/* =====================================================
Color Palette
===================================================== */
$color-orange: #FA4616;
$color-blue: #1C7AE4;
$color-blue-light: #73DAFF;
$color-green: #4CB521;
$color-warning: #ee2828;
$color-fubo-dark: #242424;
$color-regular-dark: #2B2D2E;
$color-medium-dark: #3a3e3f;
$color-light-dark: #535657;
$color-dark-sand: #79746c;
$color-light-sand: #c4c0b8;
$color-light-grey: #d8d8d8;
$color-site-bg: #15101E;
$color-header: #15101E;
$color-zebra-odd: rgba(black, .1);
$color-zebra-hover: rgba(white, .05) !important;
$color-footer: #1F1F22;

$gradient-blue-purple-light: linear-gradient(-226deg, #667EEA 0%, #764CA3 100%, #764BA2 100%);
$gradient-blue-purple-dark: linear-gradient(-226deg, #6A11CB 0%, #2575FC 100%);
$gradient-orange-purple: linear-gradient(-226deg, #FA4616 0%, #721E4E 100%);
$gradient-grey-purple: linear-gradient(-139deg, #43465D 0%, #212138 100%);

$ease-in-quad:      cubic-bezier(0.550,  0.085, 0.680, 0.530);
$ease-in-cubic:     cubic-bezier(0.550,  0.055, 0.675, 0.190);
$ease-in-quart:     cubic-bezier(0.895,  0.030, 0.685, 0.220);
$ease-in-quint:     cubic-bezier(0.755,  0.050, 0.855, 0.060);
$ease-in-sine:      cubic-bezier(0.470,  0.000, 0.745, 0.715);
$ease-in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035);
$ease-in-circ:      cubic-bezier(0.600,  0.040, 0.980, 0.335);
$ease-in-back:      cubic-bezier(0.600, -0.280, 0.735, 0.045);

$ease-out-quad:     cubic-bezier(0.250,  0.460, 0.450, 0.940);
$ease-out-cubic:    cubic-bezier(0.215,  0.610, 0.355, 1.000);
$ease-out-quart:    cubic-bezier(0.165,  0.840, 0.440, 1.000);
$ease-out-quint:    cubic-bezier(0.230,  1.000, 0.320, 1.000);
$ease-out-sine:     cubic-bezier(0.390,  0.575, 0.565, 1.000);
$ease-out-expo:     cubic-bezier(0.190,  1.000, 0.220, 1.000);
$ease-out-circ:     cubic-bezier(0.075,  0.820, 0.165, 1.000);
$ease-out-back:     cubic-bezier(0.175,  0.885, 0.320, 1.275);

$ease-in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955);
$ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
$ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000);
$ease-in-out-sine:  cubic-bezier(0.445,  0.050, 0.550, 0.950);
$ease-in-out-expo:  cubic-bezier(1.000,  0.000, 0.000, 1.000);
$ease-in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860);
$ease-in-out-back:  cubic-bezier(0.680, -0.550, 0.265, 1.550);

$site-max-width: 1400px;


/* ===============================
Fonts
=============================== */
/* Qanelas font */
@font-face {
  /* formerly: 'Qanelas-Black'; */
  font-family: 'Qanelas';
  font-weight: 900;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_0_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-Bold'; */
  font-family: 'Qanelas';
  font-weight: 700;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_1_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-ExtraBold'; */
  font-family: 'Qanelas';
  font-weight: 800;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_2_0.svg#wf') format('svg');
}

@font-face {
  /* formerly: 'Qanelas-SemiBold'; */
  font-family: 'Qanelas';
  font-weight: 600;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_3_0.svg#wf') format('svg');
}

@font-face {
/* formerly: 'Qanelas-Medium'; */
  font-family: 'Qanelas';
  font-weight: 500;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_4_0.svg#wf') format('svg');
}

@font-face {
/* formerly: 'Qanelas-Regular'; */
  font-family: 'Qanelas';
  font-weight: normal;
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.eot');
  src: url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.eot?#iefix') format('embedded-opentype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.woff2') format('woff2'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.woff') format('woff'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.ttf') format('truetype'),url('//static.fubo.tv/static/web/fonts/qanelas/34A12F_5_0.svg#wf') format('svg');
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}